# Getting started

We'll install `keras-pandas`

```bash
pip install -U keras-pandas
```

In [1]:
from keras import Model
from keras.layers import Dense

from keras_pandas.Automater import Automater
from keras_pandas.lib import load_titanic

/Users/brendanherger/anaconda2/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

## Data

Let's say we want to look at the the [titanic data set](https://www.kaggle.com/c/titanic/data)

In [2]:
observations = load_titanic()
observations.head(2)

,survived,pclass,name,sex,age,siblings_spouses_aboard,parents_children_aboard,fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833

## Model

And that we're interested in building a model, using `keras-pandas`. 

We'd start by creating an automater:

In [3]:
# Transform the data set, using keras_pandas
categorical_vars = ['survived', 'pclass', 'sex']
numerical_vars = ['age', 'siblings_spouses_aboard']
text_vars = ['name']

auto = Automater(categorical_vars=categorical_vars, numerical_vars=numerical_vars, text_vars=text_vars,
 response_var='survived')
X, y = auto.fit_transform(observations)

/Users/brendanherger/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/brendanherger/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

And then using that automater to train a model:

In [4]:
# Start model with provided input nub
x = auto.input_nub

# Fill in your own hidden layers
x = Dense(32)(x)
x = Dense(32, activation='relu')(x)
x = Dense(32)(x)

# End model with provided output nub
x = auto.output_nub(x)

model = Model(inputs=auto.input_layers, outputs=x)
model.compile(optimizer='Adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train model
model.fit(X, y, epochs=4, validation_split=.2)

Train on 709 samples, validate on 178 samples
Epoch 1/4
709/709 [==============================] - 1s 2ms/step - loss: 0.6308 - acc: 0.6178 - val_loss: 0.4918 - val_acc: 0.7472
Epoch 2/4
709/709 [==============================] - 0s 636us/step - loss: 0.4506 - acc: 0.8054 - val_loss: 0.4599 - val_acc: 0.8539
Epoch 3/4
709/709 [==============================] - 0s 666us/step - loss: 0.1949 - acc: 0.9126 - val_loss: 0.8455 - val_acc: 0.7472
Epoch 4/4
709/709 [==============================] - 0s 656us/step - loss: 0.0510 - acc: 0.9859 - val_loss: 0.8355 - val_acc: 0.7640